<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sales Order System{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}
               {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </div>
    </body>
</html>
